build/
out/
tests/bin/
compile_commands.json
*.o
*.a
.cache/
cmake-build-*/

# vendors/
vendors/

# references
references/

# auto generated
.ccls-cache
.ninja_lock
.ninja_log

# Others
/*.glb
/*.bin
/*.gltf
# Doxygen output
docs/api/
