build/
out/
tests/bin/
compile_commands.json
*.o
*.a
.cache/
cmake-build-*/

# vendors/
vendors/

# references
references/

# auto generated
.ccls-cache
.zig-cache/
zig-out/
__pycache__

# Others
/*.glb
/*.bin
/*.gltf
# Doxygen output
docs/api/
